body{
    margin:0;
    padding:0;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }

 .navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

ul{
    margin:0 0;
    padding:0 0;
    list-style-type: none;
}
li{
    list-style-type: none;
}

.ui.text.menu {
    margin:0;
}

a, a:focus, a:hover, a:active{
    color: inherit;
}

pre{
    margin: 0;
    
}