<link rel="stylesheet" type="text/css" href="/css/LandingPage/ParallaxLandingPage1.css">
<div>
    <div id="parallax">
        <div id="parallaxTitle" class="d-flex align-items-center justify-content-center">
            <p data-aos = "fade-right">A Survey and Quiz Platform</p>
        </div>
    </div>
</div>