<link rel="stylesheet" href="/css/LandingPage/Desc1.css">

<div class="DescParent d-flex align-items-center justify-content-center w-100">
    <div class=" Desc1 d-flex align-items-center text-center">
        <div style="width: 100%; height:100%">
            <div class="desc1Headline"><p>Survey Your Way.</p></div>
            <div class="w-75 m-auto pt-4"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, necessitatibus dicta nostrum eum atque cumque doloribus iusto fugit ipsum aliquam minima. Corporis eligendi repellendus dolor officiis, maxime error odio sint tempora iusto, magni animi, fugit incidunt aut tempore accusamus eos.</p></div>
        </div>

        <div style="width:50%; HEIGHT:50%;">
            <div class="image">
                <!-- <img src="/resources/LP14.jpg" alt="" srcset=""> -->
                <img src="/resources/Checklist-rafiki.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>