<link rel="stylesheet" href="/css/LandingPage/features.css">

<div>
    <div class="d-flex align-items-center justify-content-center FeatureTitlehead">
        <div class="desc1Headline">
            <p><b>Features</b></p>
        </div>
    </div>

    <div class="FeatureMain">
        <div class="d-flex align-items-center justify-content-center flex-wrap">

            <!-- Enter save Done -->
            
            <div class="featureItem text-center d-flexflex-column align-items-center mx-2 my-4" style="background-color: #ffecd275;">
                <div class="my-4">
                    <img height="40px" width="40px" src="/resources/edit-3.svg" alt="" srcset="">
                </div>
                <div class="desc1Headline"><p>Create instantly</p></div>
                <div class="Description"><p>You don't need to have a degree to be a formmaker. Just create a form, type questions, hit save. And Whoa, you will be sharing form in the next step. The UI is easy to be handled from 8 year boy to 80 year old. We care about you and your time. Think about questions and leave the rest to us.</p></div>
            </div>

            <!-- Easy share -->
            <div class="featureItem text-center d-flexflex-column align-items-center mx-2 my-4" style="background-color: #d7faf275;">
                <div class="my-4">
                    <img height="40px" width="40px" src="/resources/send.svg" alt="" srcset="">
                </div>
                <div class="desc1Headline"><p>Share the way you want</p></div>
                <div class="Description"><p>Share it instatly with all your contacts, emails, or select some few and send them a personalised invite. Modify the invitation as you want. Or just convert form to private to be filled by selected. <br>Your form. Your rules.</p></div>
            </div>


            <!-- Templates -->
            <div class="featureItem text-center d-flexflex-column align-items-center mx-2 my-4" style="background-color: #00808025;">
                <div class="my-4">
                    <img height="40px" width="40px" src="/resources/copy.svg" alt="" srcset="">
                </div>
                <div class="desc1Headline"><p>Multiple Templates</p></div>
                <div class="Description"><p>From attendance forms to party invite forms, from voting forms to e-commerce forms, you will get a form of your choice from our plethora of forms. Or just build from scratch. As you like, there is a way for everything.</p></div>
            </div>

            <!-- Responsive Forms -->
            <div class="featureItem text-center d-flexflex-column align-items-center mx-2 my-4" style="background-color: #00808025;">
                <div class="my-4">
                    <img height="40px" width="40px" src="/resources/smartphone.svg" alt="" srcset="">
                </div>
                <div class="desc1Headline"><p>Made for you</p></div>
                <div class="Description"><p>For us, the things matter is you and your successful survey. Whether you are on desktop, tablet or on smartpone, the website is designed in such a way to provide best user experience and user interaction. </p></div>
            </div>

            <!-- Advanced evaluation -->
            <div class="featureItem text-center d-flexflex-column align-items-center mx-2 my-4" style="background-color: #c7ffc075;">
                <div class="my-4">
                    <img height="40px" width="40px" src="/resources/bar-chart-2.svg" alt="" srcset="">
                </div>
                <div class="desc1Headline"><p>Advanced evaluation</p></div>
                <div class="Description"><p>With just a click to close and open the form, we are giving you advanced quiz features like tab monitoring, negative marks, timeout sessions, obviously questions and section shiffling and much much more. The quizzes should be honest and we are with you in this.</p></div>
            </div>
            

            <!-- Analyser -->
            <div class="featureItem text-center d-flexflex-column align-items-center mx-2 my-4" style="background-color: #eca6f24a;">
                <div class="my-4">
                    <img height="40px" width="40px" src="/resources/pie-chart.svg" alt="" srcset="">
                </div>
                <div class="desc1Headline"><p>Analyser</p></div>
                <div class="Description"><p>We provide you forms. We'll give you results as well. From most selected option of a question to the average marks in the quiz, we covered you. Try the analyzer and get the result in visual forms. Struture the result the way you want.</p></div>
            </div>



            <!-- If need, we can have dashboard and notifications -->
            

        </div>


    </div>

</div>