<link rel="stylesheet" href="/css/LandingPage/Review1.css">

<div style="background-color: aquamarine;" class="d-flex align-items-center justify-content-between">
    <div class="Review1 w-100 mx-auto">

        <div class="w-100 ReviewHead">
    
            <div class="text-center desc1Headline">
                <p>What Peer Say About Us</p>
            </div>
    
            <div class="ReviewCardMain d-flex flex-wrap align-items-center justify-content-center m-auto">
    
                <%-include('./ReviewCardsItems.ejs', title="Awesome UI/UX, Best Performance", desc="I Open Website. Create forms. Edit Forms. Share on spot. Get results. Analyse them. Done. My work become super easy with this.") %>
                <%-include('./ReviewCardsItems.ejs', title="Satisfactory with many unique addons and features", desc="I am demanding, but this satisfies me. Best suited for every type of form, and with so lot of templates. Totally loved it.") %>
                <%-include('./ReviewCardsItems.ejs', title="The best product in market", desc="The integration with google sheets and the analyzer part is just Wow. Best product in market") %>
            </div>
            
        </div>
    </div>
</div>