
<div class="ReviewCardItem">
    <div class="d-flex align-items-center justify-content-between ReviewCardItemTitleParent mb-3">
        <p class="Title m-0"><b><%= title %></b></p>
        <div class="ui star rating"  data-max-rating="5" data-rating="5"></div>
        
    </div>
    <div class="Description"><p><%= desc %></p></div>
</div>