<link rel="stylesheet" href="/css/Topbar.css">

<div class="scroll0" id="navbar">
    <nav class="navbar navbar-expand-md d-flex align-items-center">
        <div class="navbar-brand" onclick="location.href='/'" style="cursor: pointer;">Q.</div>
        <button class="navbar-toggler p-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="/resources/menu.svg" height="20px" width="20px" alt="" srcset=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div style="padding:0 12.5%;">
                <ul class="d-flex align-items-center">
                    <li><a href="">Features</a></li>
                    <li><a href="">Templates</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li>
                        <div class="ui right dropdown item">
                            More
                            <i class="dropdown icon"></i>
                            <div class="menu mt-3">
                                <a class="item">Help</a>
                                <a class="item">Videos</a>
                                <a class="item">Demo</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="ml-auto temp1">
                <button class="ui purple button mr-2" onclick="loginButton()">Login</button>
                <button class="ui secondary button" onclick="registerButton()">Sign Up</button>
            </div>
        </div>
    </nav>
</div>

